<div class="footer-one">
	<div class="container">
		<div class="row">
			<div class="col-md-3 footer-widget">
				<h4 class="footer-widget-title">A propos</h4>
				<p class="footer-widget-content">
					Flirtera est un site de rencontre qui permet à ces milliers d'utilisateurs de faire des belles rencontres.
				</p>
			</div>
			<div class="col-md-1 footer-widget">
			</div>
            <div class="col-md-1 footer-widget">
			</div>
			<!-- Footer widget 3 -->
			<div class="col-md-2 footer-widget">
				<h4 class="footer-widget-title">Informations</h4>
				<div class="footer-widget-content">
					<ul>
						<li><%= link_to "Services", root_path %></li>
						<li><%= link_to "Publicité", root_path  %></li>
						<li><%= link_to "Contact", root_path  %></li>
						<li><%= link_to "Partenaires", root_path  %></li>
					</ul>
				</div>
			</div><!-- end -->
			<div class="col-md-1 footer-widget">
			</div>	
			<!-- Footer widget 4 -->
			<div class="col-md-2 footer-widget">
				<h4 class="footer-widget-title"> </h4>
				<div class="footer-widget-content">
					<ul>
						<li><%= link_to "Blog", root_path %></li>
						<li><%= link_to "FAQ", root_path %></li>
						<li><%= link_to "Conditions d'utilisation", root_path %></li>
						<li><%= link_to "Politique de confidentialité", root_path %></li>
					</ul>
				</div>
			</div>

		</div>

		
	</div>

    <div class="container">
        <div class="row">
			<div class="col-md-6 copyright">
				&copy; Flirtera <%= Time.now.year %>. Tous droits Réservés. 
			</div>

			<div class="col-md-6">
				<div class="social-link">
					<div class="text-center">
	                
	                
	                <a href="https://www.facebook.com/imofy.official/" class="btn btn-social-icon btn-facebook" target="_blank"><i class="fa fa-facebook"></i>
	                </a>
	              
	                
	                <a href="https://plus.google.com/u/6/105575247260435852508" class="btn btn-social-icon btn-google" target="_blank"><i class="fa fa-google-plus"></i>
	                </a>

	                <a href="https://www.instagram.com/imofy.official/" class="btn btn-social-icon btn-instagram" target="_blank"><i class="fa fa-instagram"></i></a>

	                <a href="https://www.linkedin.com/in/imofy-job-a42b5714a/" class="btn btn-social-icon btn-linkedin" target="_blank"><i class="fa fa-linkedin"></i></a>
	               
	                <a href="https://twitter.com/imofy_official" class="btn btn-social-icon btn-twitter" target="_blank"><i class="fa fa-twitter"></i></a>
	                
	              </div>
				</div>
			</div>

		</div>

    </div>
</div>

