<!DOCTYPE html>
<html>
  <head>
    <title>Flirtera</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="http://maps.googleapis.com/maps/api/js?libraries=places"></script>
  </head>

  <body>
    <!-- Navbar -->
    <%= render "layouts/partials/navbar"%>
    <%= yield %>
    <!-- Footer -->
    <%= render "layouts/partials/footer" %>
  </body>
</html>
